In [19]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [20]:
#import both files
cityDF = pd.read_csv("raw_data/city_data.csv")

# sum driver count by city to account for duplicate Port James entry
cityDFsum = pd.DataFrame(cityDF.groupby("city")["driver_count"].sum())
cityDFmerge = cityDFsum.reset_index()

# drop duplicate city name/type for Port James
cityTypeDF = cityDF[["city","type"]]
cityTypeDF2 = cityTypeDF.drop_duplicates()

# merge two data frames together to ge the combined total amount for Port James
cityDFmergetype = pd.merge(cityDFmerge, cityTypeDF2, on = "city")

In [21]:
rideDF = pd.read_csv("raw_data/ride_data.csv")

In [22]:
#combine both files on city
combineDF = pd.merge(rideDF, cityDFmergetype, on = "city", how = "outer")
combineDF.columns = ("City", "Date", "Fare", "Ride ID", "Driver Count", "Type")
combineDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2375 entries, 0 to 2374
Data columns (total 6 columns):
City            2375 non-null object
Date            2375 non-null object
Fare            2375 non-null float64
Ride ID         2375 non-null int64
Driver Count    2375 non-null int64
Type            2375 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 129.9+ KB

In [23]:
#calculate average fare per city
meanDF = pd.DataFrame(combineDF.groupby("City")["Fare"].mean())
meanDF.columns = ["Average Fare"]
meanDF["Average Fare"] = meanDF["Average Fare"].map("${0:,.2f}".format)
meanDF.head()

             Average Fare
City
Alvarezhaven       $23.93
Alyssaberg         $20.61
Anitamouth         $37.32
Antoniomouth       $23.62
Aprilchester       $21.98

In [8]:
#calculate total number of rides per city
totalRidesDF = pd.DataFrame(combineDF.groupby("City")["Ride ID"].count())
totalRidesDF.columns = ["Total Rides"]
totalRidesDF.head()

              Total Rides
City
Alvarezhaven           31
Alyssaberg             26
Anitamouth              9
Antoniomouth           22
Aprilchester           19

In [12]:
#calculate total number of drivers per city
totalDriversDF = pd.DataFrame(cityDFmerge)
totalDriversDF.set_index("city").head()

              driver_count
city
Alvarezhaven            21
Alyssaberg              67
Anitamouth              16
Antoniomouth            21
Aprilchester            49

In [15]:
#show city type
citytypeshow = pd.DataFrame(cityTypeDF2)
citytypeshow.set_index("city").head()

                 type
city
Kelseyland      Urban
Nguyenbury      Urban
East Douglas    Urban
West Dawnfurt   Urban
Rodriguezburgh  Urban

In [16]:
# % of total fare by city type
fareCityDF = pd.DataFrame(combineDF.groupby("Type")["Fare"].sum())
fareCityDF.columns = ["Total Fare"]
fareCityDF["Total Fare"] = fareCityDF["Total Fare"].map("${0:,.2f}".format)
fareCityDF.head()

          Total Fare
Type
Rural      $4,255.09
Suburban  $19,317.88
Urban     $40,078.34

In [17]:
# % of total rides by city type
ridesCityDF = pd.DataFrame(combineDF.groupby("Type")["Ride ID"].count())
ridesCityDF.columns = ["Total Rides"]
ridesCityDF.head()

          Total Rides
Type
Rural             125
Suburban          625
Urban            1625

In [18]:
# % of total drivers by city type
driversCityDF = pd.DataFrame(cityDF.groupby("type")["driver_count"].sum())
driversCityDF.columns = ["Total Drivers"]
driversCityDF.head()

          Total Drivers
type
Rural               104
Suburban            638
Urban              2607